.canvas{
    background-color: rgb(6, 43, 66);
    z-index: 1;
}
.canvas:focus{
    outline: none;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    cursor: crosshair;
    /* border: 3px solid rgb(255, 133, 52);
    border-radius: 4px; */
/* background-color: rgb(6, 43, 66); */
}

.core-button{
    background-color: rgb(255, 133, 52) !important;
    color: white !important;
    
    border-radius: 4px;
    font-size: x-large;
    font-weight: 800;
    letter-spacing: 1.5px;
}

.core-button:hover{
    background-color: white !important;
    color: rgb(255, 133, 52) !important;
}

.settings-button{
    background-color: rgb(255, 133, 52) !important;
    color: white !important;
    border: none !important;;
}

.settings-button:hover{
    background-color: white !important;
    color: rgb(255, 133, 52) !important;
}
 
.settings-close-button{
    background-color: white !important;
    color: rgb(255, 133, 52) !important;
    border: none !important;
}
.ant-modal-close{
    border: none !important;
    outline: none !important;
}

@media screen and (max-width:750px) {
    .nav-bar-stat-item{
        display: none;
        visibility: hidden;
    }
    .nav-bar-title{
        font-size: medium;
        font-weight: 600;
    }
}


         
        
         
         
        
         
         
        
         
         
        
         
         
        
         
         
        
         
         
        