.link{
    color: tomato;
    

}
.home{
  background-color:#111926;
}
.link:hover{
    animation-name: link-hover;
    animation-duration: 0.5s;
    animation-timing-function: ease;
    color: white;

}

@keyframes link-hover{
  0%{
    color: tomato;
  }
  100%{
    color: white;
  }
}

.github{
    color:white
}
.github:hover{
    color: tomato;
}

.logo{
    
}
.logo:hover{
    animation-name: rotation;
    animation-duration: 0.8s;
    animation-timing-function: ease;
    
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(45deg);
  }
  100%{
    transform: rotate(0deg);
  }
}

.linear {
  animation-timing-function: linear;
}


.infinite {
  animation-iteration-count: infinite;
}

.mode-description{
  width: 80%;
  
}

.mode-card{
  animation-name: slide-in;
  animation-timing-function: ease;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  
}

@keyframes slide-in{
  0% {
    opacity: 0;
    transform: translateX(-250px);
    visibility: visible !important;
  }

  100% {
    opacity: 1;
    transform: translateX(0);
    visibility: visible !important;
  }
}

@keyframes slide-bottom{

}

@media screen and (max-width:1200px) {
  .mode-description{
    width: 100%;
  }
}
@media screen and (max-width:750px) {
  .mode-description{
    width: 100%;
  }
}


