.link{
    color: tomato;
}
.home{
  background-color:#111926;
}
.link:hover{
    color: white;
}

.github{
    color:white
}
.github:hover{
    color: tomato;
}

.logo{
    
}
.logo:hover{
    transform: rotate(45deg);
    transition: all 0.2s linear;
}

/* @keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(45deg);
  }
} */

.linear {
  animation-timing-function: linear;
}


.infinite {
  animation-iteration-count: infinite;
}

.mode-description{
  width: 80%;
}

@media screen and (max-width:750px) {
  .mode-description{
    width: 100%;
  }
}