.App {
  text-align: center;
  height: 100vh;
  width: 100%;
  background-color: rgb(61, 61, 61);
}

::-webkit-scrollbar {
  width: 0em;
}

/* Track */
::-webkit-scrollbar-track {
  background: #ffffff;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(41, 41, 41);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}